.f-12 {
    font-size: 12px !important;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-28 {
    font-size: 28px !important;
}

.w-600 {
    font-weight: 600;
}

.w-700 {
    font-weight: 700;;
}
